html {
    --primaryfontcolor: #5B5B5B;
    --secolor: #252641;
    --barcolor: #49BBBD;
}

.header .row {
    justify-content: space-between;
}

.header {
    margin: 30px 0px;
}

.list a {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400;
    color: var(--primaryfontcolor);
    text-transform: capitalize;
}

.header .sidebar {
    display: none;
    width: 40px;
}

.list .row {
    gap: 0px 80px;
}

.profil a {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    color: var(--primaryfontcolor);
    text-transform: capitalize;
}

.profil .row {
    gap: 0px 12px;
}

img {
    width: 100%;
}

/* from here section 2 */

.current_lessons {
    overflow: hidden;
    background-color: rgba(157, 204, 255, 0.2);
}

.current_lessons .lesson_cards {
    margin: 0px 65px;
    margin-bottom: 155px;
}

.current_lessons .lesson {
    width: calc((100% - 100px) / 3);
    background-color: white;
    font-family: Poppins;
    box-shadow: 0 18.83px 47.08px 0 #2F327D1A;
}

.lesson_cards .row {
    gap: 0px 50px;
}



.current_lessons .lesson {
    border-radius: 20px;
    padding: 0px 21.64px;
    padding-top: 19.6px;
}

.current_lessons .lesson h2 {
    margin-top: 12px;
    margin-bottom: 10px;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
}

.lesson_cards .lesson .row {
    gap: 0px 15px;
}

.current_lessons .lessons_title .row {
    justify-content: space-between;
    margin: 50px 120px 50px 18px;
    gap: 20px 0px;

}

.progressbar .bar {
    width: 100%;
    background-color: #D9D9D9;
    height: 8px;
    border-radius: 2px;
    margin-bottom: 50px;
}

.progressbar .progress {
    border-radius: 2px;
    background-color: var(--barcolor);
    height: 8px;
    width: calc(100% * 0.7142);
}

.lesson .cardprofil {
    margin-bottom: 25px;
}

.cardprofil img {
    width: 42px;
}

.progressbar p {
    text-align: right;
    margin-top: 12px;
}


.current_lessons .lessons_title {
    font-family: Poppins;
}


.current_lessons .lessons_title h2 {
    color: var(--secolor);
}

.current_lessons .lessons_title a {
    color: var(--barcolor);
}

.lesson h2 {
    color: var(--secolor);
}

.lesson a {
    color: black;
}

.lesson .progressbar {
    color: rgb(0, 0, 0, 0.5);
}


.lesson a>img {
    border-radius: 20px;
}


/* from here section 3 */

.categorys .row {
    gap: 80px 88.07px;
}

.categorys h2 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 50px;
}

.categorys .category {
    width: calc((100% - 264.21px) / 4);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 18.83px 47.08px 0 #2F327D1A;
    border-radius: 20px;
    text-align: center;
    font-family: Poppins;


}

.category .catg {
    border-radius: 4px;
    padding: 27px 33.03px;
    margin: 30px 142px 20px 143px;
}



.category h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}

.category p {
    margin: 25px 35.23px 60px 35.23px;
    color: var(--primaryfontcolor);
    font-size: 18px;
    font-weight: 400;
}

.cat1 {
    background-color: #49BBBD4D;
}

.cat2 {
    background-color: #5B72EE4D;
}

.cat3 {
    background-color: #9DCCFF4D;
}

.cat4 {
    background-color: #00CBB84D;
}

.cat5 {
    background-color: #F48C064D;
}

.cat6 {
    background-color: #EE645B4D;
}

.cat7 {
    background-color: #2526414D;
}

.cat8 {
    background-color: #00CBB84D;
}




























@media screen and (max-width:2030px) {
    .categorys .category {
        width: calc((100% - 176.14px) / 3);
    }




}

@media screen and (max-width:1540px) {

    .category .catg {
        margin: 30px 130px 20px 130px;
    }

}

@media screen and (max-width:1480px) {

    .category .catg {
        margin: 30px 120px 20px 120px;
    }

}

@media screen and (max-width:1400px) {

    .category .catg {
        margin: 30px 110px 20px 110px;
    }

}





@media screen and (max-width: 1350px) {
    .container {
        width: calc(100% - 120px);
    }

    .current_lessons .lesson {
        width: calc((100% - 50px) / 2);
    }

    .lesson_cards .row {
        gap: 20px 50px;
    }

    .categorys .category {
        width: calc((100% - 88.07px) / 2);

    }

    .category .catg {
        margin: 80px 140px 60px 140px;
    }

}



@media screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 60px);
    }

    .list .row {
        gap: 0px 50px;
    }


}

@media screen and (max-width:1050px) {
    .container {
        width: calc(100% - 30px);
    }

    .list .row {
        gap: 0px 40px;
    }

    .current_lessons .lessons_title .row {
        margin-right: 60px;
    }

    .categorys .row {
        gap: 80px 50px;
        margin: auto;
    }
    .categorys .category {
        width: calc((100% - 50px) / 2);
        margin: auto;

    }


}


@media screen and (max-width: 900px) {
    .list {
        display: none;
    }

    .header .sidebar {
        display: block;
    }

    .profil .row {
        gap: 0px 5px;
    }

    .header {
        margin: 20px 0px;
    }

    .header .logo {
        width: 80px;
    }

    .header .profil img {
        width: 50px;
    }

    .current_lessons .lesson {
        width: 100%;
    }




}

@media screen and (max-width:840px) {
    .current_lessons .lesson_cards {
        margin: 0px 30px;
        margin-bottom: 155px;
    }

    .categorys .category {
        width: calc(100% - 80px);
        margin: auto;

    }

    .category .catg {
        margin: 80px 170px 60px 170px;
    }

    .category h3 {
        font-size: 50px;

    }

    .category p {

        font-size: 24px;

    }



}

@media screen and (max-width:600px) {
    .category .catg {
        margin: 60px 130px 40px 130px;
    }

    .category h3 {
        font-size: 40px;
    }

    .category p {
        font-size: 18px;
    }

    .categorys h2 {

        font-size: 30px;
        margin-left: 30px;

    }
}

@media screen and (max-width:500px) {
    .current_lessons .lesson_cards {
        margin: 0px 10px;
        margin-bottom: 155px;
    }

    .current_lessons .lessons_title .row {
        gap: 20px 0px;
        margin: 30px 120px 30px 18px;

    }

    .category .catg {
        margin: 60px 100px 40px 100px;
    }

    .category p {
        font-size: 16px;
    }

    .category h3 {
        font-size: 30px;
    }

    .categorys .category {
        width: calc(100% - 30px);
        margin: auto;

    }





}


@media screen and (max-width:400px) {
    .category .catg {
        margin: 40px 90px 20px 90px;
    }

    .category p {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}